streamlit==1.23.0
tensorflow==2.18.0
pandas==1.5.3  
numpy==1.23.5
keras==3.6.0
requests==2.32.3
smmap==5.0.1
streamlit==1.40.1
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
setuptools>=58.0.0
wheel>=0.36.0

